### Import Pandas which we will use for cleaning

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/warehousedata.csv")
data.head()

  track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0  1; Car; 48.85; 9.770344; 37.977391; 23.737688;...
1  2; Motorcycle; 98.09; 19.839417; 37.977642; 23...
2  3; Motorcycle; 63.80; 18.228752; 37.977997; 23...
3  4; Motorcycle; 145.72; 26.229014; 37.978135; 2...
4  5; Motorcycle; 138.01; 24.841425; 37.978134; 2...

In [3]:
data.columns

Index(['track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time'], dtype='object')

In [4]:
data.shape

(922, 1)

In [5]:
cols = data.columns[0].split(";")
cols

['track_id',
 ' type',
 ' traveled_d',
 ' avg_speed',
 ' lat',
 ' lon',
 ' speed',
 ' lon_acc',
 ' lat_acc',
 ' time']

In [6]:
##Stripping empty spaces

for i in range(len(cols)):
    cols[i] = cols[i].strip()

cols

['track_id',
 'type',
 'traveled_d',
 'avg_speed',
 'lat',
 'lon',
 'speed',
 'lon_acc',
 'lat_acc',
 'time']

In [7]:
data.head(3)

  track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0  1; Car; 48.85; 9.770344; 37.977391; 23.737688;...
1  2; Motorcycle; 98.09; 19.839417; 37.977642; 23...
2  3; Motorcycle; 63.80; 18.228752; 37.977997; 23...

In [8]:
track_ids = []
types = []
traveled_d = []
avg_speeds = []
lat = []
lon = []
speed = []
lon_acc = []
lat_acc = []
time = []

for r in range(len(data)): 
    row = data.iloc[r,:][0].split(";")
    row_p1 = row[:]    
    track_ids.append(row_p1[0])
    types.append(row_p1[1])
    traveled_d.append(row_p1[2])
    avg_speeds.append(row_p1[3])
    lat.append(row_p1[4])
    lon.append(row_p1[5])
    speed.append(row_p1[6])
    lon_acc.append(row_p1[7])
    lat_acc.append(row_p1[8])
    time.append(row_p1[9])

In [9]:
data_dict = {cols[0]:track_ids, cols[1]:types, cols[2]:traveled_d, cols[3]:avg_speeds, cols[4]:lat, cols[5]:lon, cols[6]:speed, cols[7]:lon_acc, cols[8]:lat_acc, cols[9]:time}

In [10]:
new_df = pd.DataFrame(data_dict)
new_df.head(3)

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,48.85,9.770344,37.977391,23.737688,4.9178,0.0518,-0.0299,0.000000
1,2,Motorcycle,98.09,19.839417,37.977642,23.737400,16.9759,-0.0361,-0.0228,0.000000
2,3,Motorcycle,63.80,18.228752,37.977997,23.737264,20.1906,-0.0795,-0.3395,0.000000

#### Connect to postgres database

```python
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

conn = psycopg2.connect(
    database="postgres-db", 
    host="localhost", 
    port="5432", 
    user="postgres", 
    password="docker")

'''
The class cursor allows interaction with the database'''

cur = conn.cursor()

delete_script = "DROP TABLE IF EXISTS traffic;"


create_script = ''' 
    CREATE TABLE IF NOT EXISTS traffic(
        track_id numeric, 
        type varchar (100), 
        traveled_d float,
        avg_speed float, 
        lat float, 
        lon float,
        speed float, 
        lon_acc float, 
        lat_acc float, 
        time float
   );
    '''

cur.execute(delete_script)
cur.execute(create_script)
insert_script = ''' 
    INSERT INTO traffic(
        track_id, 
        type, 
        traveled_d,
        avg_speed, 
        lat, 
        lon,
        speed, 
        lon_acc, 
        lat_acc, 
        time)

    VALUES (
        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''

```

#### Writing the data to MySQL table

In [11]:
from sqlalchemy import create_engine

import pymysql

import pandas as pd

sqlEngine = create_engine('postgresql+psycopg2://wacira:testing321@localhost:5433/testdb', pool_recycle=3600)

dbConnection = sqlEngine.connect()

tableName = "traffic_table"

 

try:

    frame = new_df.to_sql(tableName, dbConnection, if_exists='replace');

except ValueError as vx:

    print(vx)

except Exception as ex:   

    print(ex)

else:

    print("Table %s created successfully."%tableName);   

finally:

    dbConnection.close()

Table traffic_table created successfully.