### Import Pandas which we will use for cleaning

In [53]:
import pandas as pd

In [54]:
data = pd.read_csv("../data/warehousedata.csv")
data.head()

  track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0  1; Car; 48.85; 9.770344; 37.977391; 23.737688;...
1  2; Motorcycle; 98.09; 19.839417; 37.977642; 23...
2  3; Motorcycle; 63.80; 18.228752; 37.977997; 23...
3  4; Motorcycle; 145.72; 26.229014; 37.978135; 2...
4  5; Motorcycle; 138.01; 24.841425; 37.978134; 2...

In [55]:
data.columns

Index(['track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time'], dtype='object')

In [56]:
data.shape

(922, 1)

In [57]:
cols = data.columns[0].split(";")
cols

['track_id',
 ' type',
 ' traveled_d',
 ' avg_speed',
 ' lat',
 ' lon',
 ' speed',
 ' lon_acc',
 ' lat_acc',
 ' time']

In [58]:
##Stripping empty spaces

for i in range(len(cols)):
    cols[i] = cols[i].strip()

cols

['track_id',
 'type',
 'traveled_d',
 'avg_speed',
 'lat',
 'lon',
 'speed',
 'lon_acc',
 'lat_acc',
 'time']

In [59]:
data.head(3)

  track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0  1; Car; 48.85; 9.770344; 37.977391; 23.737688;...
1  2; Motorcycle; 98.09; 19.839417; 37.977642; 23...
2  3; Motorcycle; 63.80; 18.228752; 37.977997; 23...

In [60]:
track_ids = []
types = []
traveled_d = []
avg_speeds = []
lat = []
lon = []
speed = []
lon_acc = []
lat_acc = []
time = []

for r in range(len(data)): 
    row = data.iloc[r,:][0].split(";")
    row_p1 = row[:]    
    track_ids.append(row_p1[0])
    types.append(row_p1[1])
    traveled_d.append(row_p1[2])
    avg_speeds.append(row_p1[3])
    lat.append(row_p1[4])
    lon.append(row_p1[5])
    speed.append(row_p1[6])
    lon_acc.append(row_p1[7])
    lat_acc.append(row_p1[8])
    time.append(row_p1[9])

In [61]:
data_dict = {cols[0]:track_ids, cols[1]:types, cols[2]:traveled_d, cols[3]:avg_speeds, cols[4]:lat, cols[5]:lon, cols[6]:speed, cols[7]:lon_acc, cols[8]:lat_acc, cols[9]:time}

In [102]:
new_df = pd.DataFrame(data_dict)

#### Writing the data to MySQL table

In [105]:
from sqlalchemy import create_engine

import pymysql

import pandas as pd

sqlEngine = create_engine('mysql+pymysql://root:cicada3301@127.0.0.1/traffic_data', pool_recycle=3600)

dbConnection = sqlEngine.connect()

tableName = "traffic_table"

 

try:

    frame = new_df.to_sql(tableName, dbConnection, if_exists='replace');

except ValueError as vx:

    print(vx)

except Exception as ex:   

    print(ex)

else:

    print("Table %s created successfully."%tableName);   

finally:

    dbConnection.close()

Table traffic_table created successfully.

In [ ]:
# Import dataframe into MySQL
import sqlalchemy
import pymysql


database_username = 'root'
database_password = 'password'
database_ip       = '127.0.0.1'
database_name     = 'traffic_data'

database_connectio= sqlalchemy.create_engine('mysql+pymysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))
                                                      
database_connection = database_connection.connect()

dataframe.to_sql(con=database_connection, name='traffic_table', if_exists='replace')